public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*@expo*
public-hoist-pattern[]=expo-font
public-hoist-pattern[]=expo-asset
public-hoist-pattern[]=react-native*
public-hoist-pattern[]=@react-native*
public-hoist-pattern[]=@react-navigation*
node-linker=hoisted
